.about-section {
  background: url('../../assets/images/wood-pattern.png') no-repeat center;
  background-size: cover;
  padding: 80px 20px;
  font-family: var(--my-font-family);
}

/* Title block */
.section-title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px auto;
}
.section-title h2 {
  margin-bottom: 10px;
}
.section-title p {
  color: var(--gray);
}

/* Layout */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap; /* responsive */
}

/* Left image */
.about-image {
  flex: 1 1 40%;
  text-align: center;
}
.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: contain;
}

/* Right content */
.about-content {
  flex: 1 1 55%;
  color: var(--black);
  text-align: left;
  line-height: 1.6;
}
.about-content p {
  margin-bottom: 15px;
}
.gray-text {
  color: var(--gray);
}
.mt-20 {
  margin-top: 20px;
}

/* Responsive */
// @media (max-width: 992px) {
//   .about-container {
//     gap: 40px;
//   }
// }
@media (min-width: 700px) and (max-width: 1024px) {
  .about-container {
    display: flex;
    gap: 15px;
    text-align: center;
  }
  .L2-text-primary {
    text-align: left;
    font-size: 15px;
  }

}

@media (max-width: 1024px) {
  .about-container {
    gap: 30px;
    display: flex;
  }
}
