/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #A76F3A;
  --light-white: #FAFAFA;
  --gray: #A2A2A2;
  --black: #303030;
  --white: #FFFFFF;

  --my-font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.L1-heading {
  font-family: var(--my-font-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--black);
  transition: font-size 0.3s ease, line-height 0.3s ease;
}

.L1-span-heading {
  font-family: var(--my-font-family);
  font-size: 52px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-color);
}

.L2-heading {
  font-family: var(--my-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--black);
  transition: font-size 0.3s ease, line-height 0.3s ease;
}

/* Responsive font sizes for L2-heading */
@media (min-width: 768px) and (max-width: 1024px) {
  .L2-heading {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .L2-heading {
    font-size: 28px;
  }
}

.L2-span-heading {
  font-family: var(--my-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--primary-color);
}

.L3-heading {
  font-family: var(--my-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--black);
}

.L4-heading {
  font-family: var(--my-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--black);
}

.L4-span-heading {
  font-family: var(--my-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--primary-color);
}

.L5-heading {
  font-family: var(--my-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--black);
}

.L5-heading-primary {
  font-family: var(--my-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--primary-color);
}

.L1-text {
  font-family: var(--my-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
}

.L1-text-primary {
  font-family: var(--my-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
}

.L2-text {
  font-family: var(--my-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--black);
}

.L2-text-primary {
  font-family: var(--my-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray);
}

.L2-subtext {
  font-family: var(--my-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray);
}

